* {
    margin: 0;
    padding: 0;
}

input::-webkit-search-cancel-button {
    display: none;
}

input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    -webkit-appearance: none;
    line-height: 21px;
    background-color: #fff;
    border: 1px solid #bebebe;
    outline: 0;
}

body{
    background: #ffffff;
    font-size: 1rem;
}

ul li {
    list-style: none;
}

.box {
    margin: 0 10px;
    font-family: "Microsoft YaHei";
    .nav-bar {
        height: 60px;
        line-height: 60px;
        text-align: left;
        position: relative;
        .nav-to{
            position: absolute;
            display: block;
            right: 0;
            bottom: 0px;
            height: 20px;
            line-height: 20px;
            font-size: .75rem;
            text-decoration: none;
        }
    }
}