* {
    margin: 0;
    padding: 0
}

input::-webkit-search-cancel-button {
    display: none
}

input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    -webkit-appearance: none;
    line-height: 21px;
    background-color: #fff;
    border: 1px solid #bebebe;
    outline: 0
}

body {
    background: #fff;
    font-size: 1rem
}

ul li {
    list-style: none
}

.box {
    margin: 0 10px;
    font-family: "Microsoft YaHei"
}

.box .nav-bar {
    height: 60px;
    line-height: 60px;
    text-align: left;
    position: relative
}

.box .nav-bar .nav-to {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    font-size: .75rem;
    text-decoration: none
}

textarea {
    border: none
}

.box {
}

.box main {
    margin-top: 15px;
    margin-bottom: 15px
}

.box main .context {
    padding: 10px
}

.box main .context .textarea-face {
    line-height: 1
}

.box main .context .textarea-face .parse-url-area {
    resize: unset;
    width: 100%
}

.box main .context .tool-cbx {
    width: 14px;
    height: 14px;
    margin-right: 20px
}

.box main .context .tool-lab {
    user-select: none;
    cursor: pointer;
    vertical-align: middle
}

.box main .param-plugs {
    display: flex;
    padding: 10px
}

.box main .param-plugs .using {
    flex: .5
}

.box main .param-plugs .using .paramTojson {
    resize: unset;
    width: 100%
}

.box main .param-plugs .count {
    flex: .5;
    margin-left: 10px
}

.box main .param-plugs .count .param-data li {
    width: 100%
}

.box main .param-plugs .count .param-data li .data-name {
    width: 30%;
}
.box main .param-plugs .count .param-data li .data-name::before {
    width: 10px;
    height: 10px;
    border-top: 3px;
    border-right: 3px;
    background: #000;
}

.box footer {
  width: 100%;
  text-align: center;
  clear: both
}

.box footer li {
  display: inline-block
}
