@import './theme/origin.less';

body {
  background-color: #fff;
  font-family: "oswald", "SourceHanSansSC-Light","Source-Han-Light","Source Han Sans CN","SourceHanSansCN-Light","webfontSourceHanSansSC" !important
}

.content {
  min-height: 678px;
  background-color: aliceblue;
}
